.App {
  text-align: center;
  background: #1abc9c;
  width: 390px;
  height: 844px;
}

.margin-top_3 { margin-top: 3%; }

.white-space_height_10 { width: 100%; height: 10%; }
.white-space_height_20 { width: 100%; height: 20%; }
.white-space_height_30 { width: 100%; height: 30%; }
.white-space_height_40 { width: 100%; height: 40%; }
.white-space_height_50 { width: 100%; height: 50%; }
.white-space_height_60 { width: 100%; height: 60%; }
.white-space_height_70 { width: 100%; height: 70%; }
.white-space_height_80 { width: 100%; height: 80%; }
.white-space_height_90 { width: 100%; height: 90%; }
.white-space_height_100 { width: 100%; height: 100%; }